In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
# Combine a bunch of files

eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset8/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset8/unflipped-negative/'

df = pd.DataFrame()

# Positively charged particles
print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    label = pd.read_csv(eosdir_pos+f,usecols=['x-midplane','cotAlpha'])           
    xdf = pd.read_csv(eosdir_pos+'recon1Dx_'+f.split('_')[1])
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])
    
# Negatively charged particles
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue

    label = pd.read_csv(eosdir_neg+f,usecols=['x-midplane','cotAlpha'])            
    xdf = pd.read_csv(eosdir_neg+'recon1Dx_'+f.split('_')[1])
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])

Processing + charge
Processing - charge

In [3]:
df.head()

,cotAlpha,x-midplane,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,20
0,4.334190,-28.748886,0.0,0.0,0.0,0.0,0.0,1307.0,10724.0,2613.0,...,3866.0,3526.0,4610.0,635.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.602557,39.535967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4843.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.386898,65.387944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4699.0,1192.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-3.884130,-62.093969,0.0,0.0,0.0,0.0,0.0,2070.0,3638.0,2615.0,...,3666.0,3053.0,486.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.099405,-51.763367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,cotAlpha,x-midplane,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,20
0,1.360541,64.129107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4688.0,3583.0,369.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.117512,70.606092,0.0,0.0,0.0,0.0,0.0,0.0,693.0,2950.0,...,3194.0,3523.0,2668.0,2051.0,2737.0,2953.0,75.0,0.0,0.0,0.0
2,1.242920,-51.172048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.781249,52.110587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,916.0,...,4372.0,3216.0,6354.0,5981.0,1331.0,0.0,0.0,0.0,0.0,0.0
4,-7.367559,55.178880,0.0,0.0,0.0,0.0,5100.0,4246.0,4285.0,6961.0,...,3182.0,3420.0,5095.0,3679.0,3896.0,10464.0,4971.0,2100.0,5.0,0.0

In [5]:
split_n = math.floor(0.8*len(shuffled_df))

In [6]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

13722961 3430741

In [7]:
# Write to files
train_df.to_csv('train_1Dx.csv',index=False)
test_df.to_csv('test_1Dx.csv',index=False)